.box{
  width: 200px;
  height: 200px;
  background-image: url('1.PNG');
  border:50px dotted red;
  padding: 50px;
  background-clip: content-box;
  background-origin: border-box;
    background-origin: padding-box;

}
.text_hl{
  color:transparent;
  background-color: violet;
  background-clip:text ;
}
