.container{
display: flex;
height:400px;
background-color: cyan;
/* flex-wrap: nowrap; */
flex-wrap: wrap;
/* flex-wrap: wrap-reverse; */
/* align-content: flex-start; */
align-content: flex-end;
align-content: center;
align-content: space-around;
align-content: space-between;
}
.box{
  width:30%;
  background-color: blue;
  border:1px solid black
}
