/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");





/* Side menubar section */
nav{
    background-color:#FFE4E1;
    height: 800px;
}
.side_navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.side_navbar span {
    color: deeppink;
    margin: 10px;
    font-size: 15px;
}

.side_navbar a {
    display: flex;
    align-items: center;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #646464;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.side_navbar a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.side_navbar a:hover {
    background: pink;
}

.side_navbar .active {
    border-left: 2px solid #646464;
}
/* Main Body Section */


