/* .box{
  background-color: lightblue;
  /* width:60% */
  /* height:50%
}
.box_child{
  background-color: yellow;
  width:50%
}
body{
  background-color: lightgreen;
  height:400px
} */
 /* .parent{
  font-size:60px
 } */
 .line1{
  font-size:100%
 }
