.box {
  width: 200px;
  height: 200px;
  background-color: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:identifier 3s linear 1s infinite alternate-reverse ;
}
@keyframes identifier {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 3s ;
  animation-fill-mode: both;
}
@keyframes move {
  from {
  transform: translateX(100px);
  }
  to {
  transform: translateX(300px);
  }
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move-b3 5s infinite ;
}
@keyframes move-b3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(-100px, -100px);
  }
  75% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes colorChange {
  0% {
    background: red;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
