*{
  font-size: 1.5rem;

}
.container{
  height:300px;
  display: flex;
  background-color: cyan;
justify-content: space-evenly;
/* align-items: flex-start;
align-items: flex-end;
align-items: center;
align-items: baseline; */

}
.box{
  background-color: blue;
}
body{
  margin:0
}
.box1{
  height: 200px;
  font-size: 3rem;
}
