.noti{
  margin:5rem;
  font-size:10rem;
  color:violet;
  /* background-color: yellow; */
  position: relative;

}
.mes-number{
  font-size: 4rem;
  padding: 0.5rem;
  background-color: red;
  color:#fff;
  border-radius: 20px;
  position: absolute;
  left:100px;
  top:-36px
}
