body{
  background-color: aqua;

}
.box{
  color:yellow;
  width: 250px;
  height: 250px;
  background-color: transparent;
  background-color: red;
  background-color: rgba(111, 0, 222, 1);
  background-color: #fff;
  background-color: currentColor;
  margin:45px;
  padding:20px;
  border:20px dotted red;

}
