/* .container{
  display: flex;
  background-color: cyan;
  height: 150px;
  flex-direction: column;
}
.box1{
  background-color: red;
}
.box2{
  background-color: green;
  margin-top:auto
}
.box3{
  background-color: blue;
    margin-left: auto;

}
.box4{
  background-color: pink;
} */
.container{
  background-color: cyan;
  /* display: flex; */
  height:100px;
  /* justify-content: center;
  align-items: center; */
}
.fa-youtube{
 color: red !important;
 margin:auto

}
